@use "../mixin/mixin";
.footer {
    color: rgba(255, 255, 255, 0.65);
    padding: 6em 0;
    background-color: #4686a0;
    text-align: center;
    @include mixin.background_adjust;
    background-image: url("images/overlay2.png"), url("images/overlay3.svg"),
        linear-gradient(45deg, #9dc66b 2%, #4fa49a 30%, #4361c2);
    .actions {
        margin-bottom: 1.65em;
        li {
            display: inline-block;
            padding-right: 1.25em;
            &:last-child {
                padding-right: 0;
            }
            .icon {
                font: {
                    size: 1.5em;
                }
                &:hover {
                    color: #fff;
                }
            }
        }
    }
    .copyright {
        li {
            display: inline-block;
            font: {
                size: 0.8em;
            }
            margin-left: 1em;
            padding-left: 1em;
            border-left: 1px solid #fff;
            line-height: 1em;
            &:first-child {
                padding: 0;
                margin: 0;
                border: 0;
            }
            a {
                border-bottom: 1px dotted rgba(255, 255, 255, 0.5);
                &:hover {
                    border-color: transparent;
                    color: #fff;
                }
            }
            @include mixin.breakpoint_xs {
                display: block;
                border: 0;
                padding: 0;
                margin: 0;
                margin-top: 1em;
                font-size: 0.7em;
            }
        }
    }
    @include mixin.breakpoint_lg {
        padding: 4em 0;
    }
    @include mixin.breakpoint_xs {
        padding: 2em 0;
    }
}
