@use "../mixin/mixin";
.header {
    background-color: #4686a0;
    text-align: center;
    padding: 9em 0 10em 0;
    @include mixin.background-image;
    background-image: url("images/overlay2.png"), url("images/overlay3.svg"),
        linear-gradient(45deg, #9dc66b 2%, #4fa49a 30%, #4361c2);
    overflow: hidden;
    .inner {
        .icon.cloud {
            color: #fff;
            margin: 0 0 1.5em 0;
        }

        h1 {
            color: #fff;
            font: {
                weight: 300;
                size: 2.25em;
            }
            line-height: 1.35em;

            strong {
                font: {
                    weight: 400;
                }
            }

            a {
                border-bottom: 1px dotted rgba(255, 255, 255, 0.5);
                &:hover {
                    border-color: transparent;
                }
            }
            margin-bottom: 0.45em;
            @include mixin.breakpoint_xs {
                font-size: 1.5em;
            }
        }

        p {
            color: rgba(255, 255, 255, 0.75);
            margin-bottom: 1.75em;
            @include mixin.breakpoint_xs {
                font-size: 0.8em;
            }
        }

        .actions {
            li {
                position: relative;
                &::after {
                    content: "";
                    height: 100vh;
                    width: 1px;
                    background: white;
                    position: absolute;
                    left: 50%;
                    top: 100%;
                }

                .button {
                    @include mixin.button;
                }

                .button.transparent {
                    &:hover {
                        background-color: rgba(255, 255, 255, 0.15);
                    }
                }
            }
        }
    }
    // Breakpoints
    @include mixin.breakpoint_xl {
        padding: 6em 0 7em 0;
    }

    @include mixin.breakpoint_lg {
        padding: 5em 0;
    }

    @include mixin.breakpoint_md {
        padding: 8em 3em 8em 3em;
    }

    @include mixin.breakpoint_sm {
        padding: 3.5em 0;
    }

    @include mixin.breakpoint_xs {
        padding: 2.5em 0.75em;
    }
}
