@use "../mixin/mixin";
* {
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}

body {
    @include mixin.typography;
    @include mixin.breakpoint_xl {
        font-size: 14pt;
    }
    @include mixin.breakpoint_lg {
        font-size: 13pt;
    }
    @include mixin.breakpoint_sm {
        font-size: 12pt;
    }
}
a {
    text-decoration: none;
    color: inherit;
    transition: all 0.25s ease;
}

ul {
    list-style: none;
}
