* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  color: #666;
  font-family: "Source Sans Pro", Helvetica, sans-serif;
  font-weight: 300;
  font-size: 16pt;
  line-height: 1.65em;
}
@media screen and (max-width: 1680px) {
  body {
    font-size: 14pt;
  }
}
@media screen and (max-width: 1280px) {
  body {
    font-size: 13pt;
  }
}
@media screen and (max-width: 736px) {
  body {
    font-size: 12pt;
  }
}

.icon.large > * {
  font-size: 4em;
}
@media screen and (max-width: 736px) {
  .icon.large > * {
    font-size: 2.5em;
  }
}

a {
  text-decoration: none;
  color: inherit;
  transition: all 0.25s ease;
}

ul {
  list-style: none;
}

.header {
  background-color: #4686a0;
  text-align: center;
  padding: 9em 0 10em 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-image: url("images/overlay2.png"), url("images/overlay3.svg"), linear-gradient(45deg, #9dc66b 2%, #4fa49a 30%, #4361c2);
  overflow: hidden;
}
.header .inner .icon.cloud {
  color: #fff;
  margin: 0 0 1.5em 0;
}
.header .inner h1 {
  color: #fff;
  font-weight: 300;
  font-size: 2.25em;
  line-height: 1.35em;
  margin-bottom: 0.45em;
}
.header .inner h1 strong {
  font-weight: 400;
}
.header .inner h1 a {
  border-bottom: 1px dotted rgba(255, 255, 255, 0.5);
}
.header .inner h1 a:hover {
  border-color: transparent;
}
@media screen and (max-width: 480px) {
  .header .inner h1 {
    font-size: 1.5em;
  }
}
.header .inner p {
  color: rgba(255, 255, 255, 0.75);
  margin-bottom: 1.75em;
}
@media screen and (max-width: 480px) {
  .header .inner p {
    font-size: 0.8em;
  }
}
.header .inner .actions li {
  position: relative;
}
.header .inner .actions li::after {
  content: "";
  height: 100vh;
  width: 1px;
  background: white;
  position: absolute;
  left: 50%;
  top: 100%;
}
.header .inner .actions li .button {
  display: inline-block;
  border: 1px solid #fff;
  border-radius: 5px;
  padding: 0.35em 2em;
  text-transform: uppercase;
  font-size: 0.9em;
  font-weight: 400;
  letter-spacing: 0.125em;
  color: #fff;
  transition: all 0.25s ease;
}
@media screen and (max-width: 480px) {
  .header .inner .actions li .button {
    width: 100%;
  }
}
.header .inner .actions li .button.transparent:hover {
  background-color: rgba(255, 255, 255, 0.15);
}
@media screen and (max-width: 1680px) {
  .header {
    padding: 6em 0 7em 0;
  }
}
@media screen and (max-width: 1280px) {
  .header {
    padding: 5em 0;
  }
}
@media screen and (max-width: 980px) {
  .header {
    padding: 8em 3em 8em 3em;
  }
}
@media screen and (max-width: 736px) {
  .header {
    padding: 3.5em 0;
  }
}
@media screen and (max-width: 480px) {
  .header {
    padding: 2.5em 0.75em;
  }
}

.section {
  padding: 6em 0 4em 0;
}
.section > .container {
  margin: 0 auto;
  max-width: calc(100% - 4em);
  width: 60em;
}
@media screen and (max-width: 980px) {
  .section > .container {
    width: 100%;
    margin: 0;
    max-width: none;
  }
}
.section > .container .section-header {
  margin-bottom: 2.5em;
  position: relative;
}
.section > .container .section-header h2 {
  line-height: 1.35em;
  font-weight: 300;
  font-size: 2em;
}
@media screen and (max-width: 480px) {
  .section > .container .section-header h2 {
    font-size: 1.25em;
  }
}
.section > .container .section-header::after {
  content: "";
  width: 6em;
  height: 1px;
  position: absolute;
  top: 100%;
  left: 0;
  margin-top: 1.25em;
}
@media screen and (max-width: 980px) {
  .section > .container .section-header::after {
    display: none;
  }
}
@media screen and (max-width: 480px) {
  .section > .container .section-header {
    margin-bottom: 1em;
  }
}
.section > .container .section-header.center::after {
  left: 45%;
}
.section > .container .row {
  display: flex;
  flex-flow: wrap;
  margin-left: -3em;
}
.section > .container .row > * {
  padding-left: 3em;
}
.section > .container .row .col-6 {
  width: 50%;
}
.section > .container .row .col-4 {
  width: calc(100% / 3);
}
@media screen and (max-width: 980px) {
  .section > .container .row {
    flex-direction: column;
    width: 100%;
    margin: 0;
  }
  .section > .container .row .col-12 {
    width: 100%;
    padding: 0;
  }
}
@media screen and (max-width: 1280px) {
  .section {
    padding: 4em 0 2em 0;
  }
}
@media screen and (max-width: 980px) {
  .section {
    text-align: center;
    padding: 5em 3em 3em 3em;
  }
}
@media screen and (max-width: 736px) {
  .section {
    padding: 2.5em 1.5em 1.5em 1.5em;
  }
  .section br {
    display: none;
  }
}
@media screen and (max-width: 480px) {
  .section {
    padding: 1.25em 0.75em 0.75em 0.75em;
  }
}

.style-1 .section-header::after {
  background-color: rgba(144, 144, 144, 0.5);
}
.style-1 .section-header h2 {
  color: #555;
}
.style-1 .image {
  width: 100%;
  margin-bottom: 2em;
}
.style-1 .image img {
  display: block;
  width: 100%;
  border-radius: 5px;
}
@media screen and (max-width: 980px) {
  .style-1 .container .row {
    flex-direction: column-reverse;
  }
}

.style-2 {
  background-image: url("/Photon-template/assets/images/matteo-grando-x6zKRlXqyic-unsplash.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  color: #fff;
}
.style-2 .major-icons {
  margin: 0 0 2em 0;
}
.style-2 .major-icons li {
  padding: 2.5em;
  display: inline-block;
}
.style-2 .major-icons li .icon {
  border: 1px solid white;
  width: 8em;
  height: 8em;
  text-align: center;
  line-height: 8em;
  border-radius: 5px;
  transform: rotate(45deg);
}
.style-2 .major-icons li .icon i {
  display: block;
  transform: rotate(-45deg);
}
@media screen and (max-width: 980px) {
  .style-2 .major-icons li .icon {
    height: 7em;
    line-height: 7em;
    width: 7em;
  }
}
@media screen and (max-width: 736px) {
  .style-2 .major-icons li .icon {
    height: 5em;
    line-height: 5em;
    width: 5em;
  }
}
.style-2 .major-icons li:first-child {
  color: #c3e895;
}
.style-2 .major-icons li:nth-child(2) {
  color: #8addaa;
}
.style-2 .major-icons li:nth-child(3) {
  color: #6bd4c8;
}
.style-2 .major-icons li:nth-child(4) {
  color: #57aed3;
}
.style-2 .major-icons li:nth-child(5) {
  color: #4a87d3;
}
.style-2 .major-icons li:nth-child(6) {
  color: #6b88e6;
}
@media screen and (max-width: 1280px) {
  .style-2 .major-icons li {
    padding: 2em;
  }
}
@media screen and (max-width: 736px) {
  .style-2 .major-icons li {
    padding: 1.5em;
  }
}
.style-2 .section-header::after {
  background-color: white;
}
.style-2 p {
  margin-bottom: 2em;
}
@media screen and (max-width: 480px) {
  .style-2 p {
    font-size: 0.9em;
  }
}

.style-3 .container {
  text-align: center;
}
.style-3 .container .section-header::after {
  background-color: rgba(144, 144, 144, 0.5);
}
.style-3 .container p {
  margin-bottom: 2em;
}
@media screen and (max-width: 480px) {
  .style-3 .container p {
    font-size: 0.9em;
  }
}
.style-3 .container .col-4 .image {
  width: 100%;
  margin-bottom: 2em;
}
.style-3 .container .col-4 .image img {
  display: block;
  width: 100%;
  border-radius: 5px;
}
.style-3 .container .col-4 h3 {
  font-size: 1.35em;
  line-height: 1.5em;
  font-weight: 300;
  margin-bottom: 1em;
}
.style-3 .container .col-4 .actions {
  margin-bottom: 2em;
}
.style-3 .container .col-4 .actions .button.primary {
  color: #666;
  border: 1px solid rgba(144, 144, 144, 0.5);
}
.style-3 .container .col-4 .actions .button {
  display: inline-block;
  border: 1px solid #fff;
  border-radius: 5px;
  padding: 0.35em 2em;
  text-transform: uppercase;
  font-size: 0.9em;
  font-weight: 400;
  letter-spacing: 0.125em;
  color: #fff;
  transition: all 0.25s ease;
}
@media screen and (max-width: 480px) {
  .style-3 .container .col-4 .actions .button {
    width: 100%;
  }
}

.style-4 {
  background-image: url("/Photon-template/assets/images/misael-moreno-ttLeeAdG-gE-unsplash.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  color: #fff;
}
.style-4 .container {
  text-align: center;
}
.style-4 .container .section-header::after {
  background-color: #fff;
}
.style-4 .container p {
  margin-bottom: 2em;
}
@media screen and (max-width: 480px) {
  .style-4 .container p {
    margin-bottom: 1em;
  }
}
.style-4 .container .actions.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
.style-4 .container .actions.flex li:first-child {
  padding-right: 1em;
}
.style-4 .container .actions.flex .button.wide {
  min-width: 12em;
}
.style-4 .container .actions.flex .button.transparent {
  background: transparent;
}
.style-4 .container .actions.flex .button.transparent:hover {
  background-color: rgba(255, 255, 255, 0.15);
}
.style-4 .container .actions.flex .button.white {
  background: white;
  color: #333;
}
.style-4 .container .actions.flex .button.white:hover {
  background-color: rgba(255, 255, 255, 0.15);
  color: #fff;
}
.style-4 .container .actions.flex .button {
  display: inline-block;
  border: 1px solid #fff;
  border-radius: 5px;
  padding: 0.35em 2em;
  text-transform: uppercase;
  font-size: 0.9em;
  font-weight: 400;
  letter-spacing: 0.125em;
  color: #fff;
  transition: all 0.25s ease;
}
@media screen and (max-width: 480px) {
  .style-4 .container .actions.flex .button {
    width: 100%;
  }
}
@media screen and (max-width: 980px) {
  .style-4 .container .actions.flex {
    margin-bottom: 2em;
  }
}
@media screen and (max-width: 480px) {
  .style-4 .container .actions.flex {
    flex-direction: column;
  }
  .style-4 .container .actions.flex li {
    width: 100%;
    padding: 0 !important;
  }
  .style-4 .container .actions.flex li:first-child {
    margin-bottom: 1.5em;
  }
  .style-4 .container .actions.flex li .button.wide {
    min-width: none;
  }
}

.footer {
  color: rgba(255, 255, 255, 0.65);
  padding: 6em 0;
  background-color: #4686a0;
  text-align: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-image: url("images/overlay2.png"), url("images/overlay3.svg"), linear-gradient(45deg, #9dc66b 2%, #4fa49a 30%, #4361c2);
}
.footer .actions {
  margin-bottom: 1.65em;
}
.footer .actions li {
  display: inline-block;
  padding-right: 1.25em;
}
.footer .actions li:last-child {
  padding-right: 0;
}
.footer .actions li .icon {
  font-size: 1.5em;
}
.footer .actions li .icon:hover {
  color: #fff;
}
.footer .copyright li {
  display: inline-block;
  font-size: 0.8em;
  margin-left: 1em;
  padding-left: 1em;
  border-left: 1px solid #fff;
  line-height: 1em;
}
.footer .copyright li:first-child {
  padding: 0;
  margin: 0;
  border: 0;
}
.footer .copyright li a {
  border-bottom: 1px dotted rgba(255, 255, 255, 0.5);
}
.footer .copyright li a:hover {
  border-color: transparent;
  color: #fff;
}
@media screen and (max-width: 480px) {
  .footer .copyright li {
    display: block;
    border: 0;
    padding: 0;
    margin: 0;
    margin-top: 1em;
    font-size: 0.7em;
  }
}
@media screen and (max-width: 1280px) {
  .footer {
    padding: 4em 0;
  }
}
@media screen and (max-width: 480px) {
  .footer {
    padding: 2em 0;
  }
}

/*# sourceMappingURL=main.css.map */
