@use "../Common/common";
@use "../Breakpoints/breakpoints";
// Common
.section {
    padding: 6em 0 4em 0;
    > .container {
        margin: 0 auto;
        max-width: calc(100% - 4em);
        width: 60em;
        @include breakpoints.breakpoints(980) {
            width: 100%;
            margin: 0;
            max-width: none;
        }
        .section-header {
            margin-bottom: 2.5em;
            position: relative;
            h2 {
                line-height: 1.35em;
                font: {
                    weight: 300;
                    size: 2em;
                }
                @include breakpoints.breakpoints(480) {
                    font-size: 1.25em;
                }
            }
            &::after {
                content: "";
                width: 6em;
                height: 1px;
                position: absolute;
                top: 100%;
                left: 0;
                margin-top: 1.25em;
                @include breakpoints.breakpoints(980) {
                    display: none;
                }
            }
        }
        .section-header.center {
            &::after {
                left: 45%;
            }
        }

        .row {
            display: flex;
            flex-flow: wrap;
            margin-left: -3em;
            > * {
                padding-left: 3em;
            }
            .col-6 {
                width: 50%;
            }
            .col-4 {
                width: calc(100% / 3);
            }
            @include breakpoints.breakpoints(980) {
                flex-direction: column;
                width: 100%;
                margin: 0;
                .col-12 {
                    width: 100%;
                    padding: 0;
                }
            }
        }
    }
    // breakpoints
    @include breakpoints.breakpoints(1280) {
        padding: 4em 0 2em 0;
    }

    @include breakpoints.breakpoints(980) {
        text-align: center;
        padding: 5em 3em 3em 3em;
    }
    @include breakpoints.breakpoints(736) {
        padding: 2.5em 1.5em 1.5em 1.5em;
        br {
            display: none;
        }
    }
    @include breakpoints.breakpoints(480) {
        padding: 1.25em 0.75em 0.75em 0.75em;
    }
}

// Style 1
.style-1 {
    .section-header {
        &::after {
            background-color: rgba(144, 144, 144, 0.5);
        }
        h2 {
            color: #555;
        }
    }
    .image {
        width: 100%;
        margin-bottom: 2em;
        img {
            display: block;
            width: 100%;
            border-radius: 5px;
        }
    }
    .container {
        .row {
            @include breakpoints.breakpoints(980) {
                flex-direction: column-reverse;
            }
        }
    }
}

//Style 2
.style-2 {
    background-image: url("/Photon-template/Images/misael-moreno-ttLeeAdG-gE-unsplash.jpg");
    @include common.background-image;
    color: #fff;
    .major-icons {
        margin: 0 0 2em 0;
        li {
            padding: 2.5em;
            display: inline-block;
            .icon {
                border: 1px solid white;
                width: 8em;
                height: 8em;
                text-align: center;
                line-height: 8em;
                border-radius: 5px;
                transform: rotate(45deg);
                i {
                    display: block;
                    transform: rotate(-45deg);
                }
                @include breakpoints.breakpoints(980) {
                    height: 7em;
                    line-height: 7em;
                    width: 7em;
                }
                @include breakpoints.breakpoints(736) {
                    height: 5em;
                    line-height: 5em;
                    width: 5em;
                }
            }
            &:first-child {
                color: #c3e895;
            }
            &:nth-child(2) {
                color: #8addaa;
            }
            &:nth-child(3) {
                color: #6bd4c8;
            }
            &:nth-child(4) {
                color: #57aed3;
            }
            &:nth-child(5) {
                color: #4a87d3;
            }
            &:nth-child(6) {
                color: #6b88e6;
            }
            @include breakpoints.breakpoints(1280) {
                padding: 2em;
            }
            @include breakpoints.breakpoints(736) {
                padding: 1.5em;
            }
        }
    }

    .section-header {
        &::after {
            background-color: rgba(255, 255, 255);
        }
    }
    p {
        margin-bottom: 2em;
        @include breakpoints.breakpoints(480) {
            font-size: 0.9em;
        }
    }
}

//Style 3
.style-3 .container {
    text-align: center;
    .section-header {
        &::after {
            background-color: rgba(144, 144, 144, 0.5);
        }
    }
    p {
        margin-bottom: 2em;
        @include breakpoints.breakpoints(480) {
            font-size: 0.9em;
        }
    }
    .col-4 {
        .image {
            width: 100%;
            margin-bottom: 2em;
            img {
                display: block;
                width: 100%;
                border-radius: 5px;
            }
        }
        h3 {
            font-size: 1.35em;
            line-height: 1.5em;
            font: {
                weight: 300;
            }
            margin-bottom: 1em;
        }
        .actions {
            margin-bottom: 2em;
            .button.primary {
                color: #666;
                border: 1px solid rgba(144, 144, 144, 0.5);
            }
            .button {
                @include common.button;
            }
        }
    }
}

//Style 4
.style-4 {
    background-image: url("/Photon-template/Images/matteo-grando-x6zKRlXqyic-unsplash.jpg");
    @include common.background-image;
    color: #fff;
    .container {
        text-align: center;
        .section-header {
            &::after {
                background-color: #fff;
            }
        }
        p {
            margin-bottom: 2em;
        }
        .actions.flex {
            display: flex;
            justify-content: center;
            align-items: center;
            li:first-child {
                padding-right: 1em;
            }
            .button.wide {
                min-width: 12em;
            }
            .button.transparent {
                background: transparent;
                &:hover {
                    background-color: rgba(255, 255, 255, 0.15);
                }
            }
            .button.white {
                background: white;
                color: #333;
                &:hover {
                    background-color: rgba(255, 255, 255, 0.15);
                    color: #fff;
                }
            }
            .button {
                @include common.button;
            }
            @include breakpoints.breakpoints(980) {
                margin-bottom: 2em;
            }
            @include breakpoints.breakpoints(480) {
                flex-direction: column;
                li {
                    width: 100%;
                    padding: 0 !important;
                    &:first-child {
                        margin-bottom: 1.5em;
                    }
                    .button.wide {
                        min-width: none;
                    }
                }
            }
        }
    }
}
